/*
    author: https://github.com/anmolcool007
 */

 @keyframes demo {
	0% {
		transform: translateY(-200%);
	}
	100% {
		transform: translateY(0);
	}
}

.demo {
	color: white;
    display: block;
    font-style: italic;
    background-color: grey;
}