@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');


.nirvana{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: green;
  text-shadow: 
						8px 8px #ff1f8f,
						20px 20px #000000;
}